* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* navbar starts */

.logo {
  width: 40%;
}
.menu-list {
  top: 130% !important;
  border-radius: 0px;
}
.menubar {
  position: fixed;
  z-index: 999;
  background: #fff;
  top: 0px;
}
.navbar {
  flex-wrap: nowrap;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #fb811e;
}

.home-slider {
  margin-top: 70px;
}
.line {
  height: 6px;
  width: 30%;
  background: #119c4a;
  display: inline-block;
}
.mbtn1 {
  height: 45px;
  width: 25%;
  outline: none;
  border: none;
  background-color: #119c4a;
  color: white;
  border-radius: 50px;
}
.mbtn1:hover {
  background-color: #fb811e;
}
.welcome {
  background-color: #119c4a;
}
.line2 {
  height: 6px;
  width: 15%;
  background: #fff;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.welcometext {
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: bold;
}
.whitetext {
  color: #fff;
}
.welcome i {
  font-size: 45px;
  color: #119c4a;
}
.welcome h2 {
  font-weight: lighter;
  padding: 10px 0px;
}
.card1 {
  background-color: #fff;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.product-tab-list {
  border-bottom: 0px solid #ccc;
}
.nav-pills .nav-link:hover {
  background-color: #119c4a !important;
  color: #fff !important;
  border-color: #119c4a !important;
}
.nav-pills .nav-link.active {
  background-color: #f48924 !important;
  color: #fff !important;
  border-color: #f48924 !important;
}

.nav-pills .nav-link {
  border-radius: 0px;
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
  margin-right: 15px;
  font-family: 'Rokkitt', serif!important;
  font-size: 18px;
}

.callusheader,
.callusheader a {
  color: #fff;
  font-size: 16px;
}
.nav-fixed .callusheader,
.nav-fixed .callusheader a {
  color: #000;
}

/* aboutus page */

.our-story {
  background-color: #a9c1a9;
}
.sustainability {
  background-color: #e8dcc6;
}
.aboutus-para {
  font-size: 30px;
  line-height: 40px;
}

/* Products */

.products h5 {
  text-align: center;
  font-family: "Rokkitt", serif !important;
  font-weight: 700;
  margin-top: 16px;
}
.products p {
  text-align: center;
}
.productlist-row{justify-content: center;}

@media only screen and (max-width: 991px) {
  .navbar {
    flex-wrap: wrap;
  }
  .aboutus-para {
    font-size: 16px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 767px) {
  ul.nav-pills li.nav-item {
    width: 90%;
    margin-bottom: 10px;
  }
  .nav-pills .nav-link {
    width: 100%;
  }
  .productlist-row{justify-content:flex-start;}
}
